@reference '@/index.css';

.button {
  @apply relative p-2 border rounded-lg cursor-pointer overflow-hidden;

  background-color: var(--tui-button-background, black);
  color: var(--tui-button-color, white);
  border-color: var(--tui-button-border, gray);

  &:global(.active) {
    @apply bg-tui-primary;
  }

  &:before {
    @apply content-[''] absolute inset-0 pointer-events-none bg-transparent transition-colors;
  }

  &:not([disabled]):hover:before {
    @apply bg-white/5;
  }

  &[disabled] {
    @apply pointer-events-none;

    &:before {
      @apply bg-black/40;
    }
  }

  .loader {
    @apply absolute top-1/2 left-1/2 -translate-1/2 pointer-events-none transition-opacity opacity-0 animate-spin;
  }

  .content {
    @apply flex items-center gap-2 transition-opacity opacity-100;
  }

  &.loading {
    .loader {
      @apply opacity-100;
    }

    .content {
      @apply opacity-0 pointer-events-none;
    }
  }
}
